body {
    background-color: #852a2a;
    text-align: center;
    font-family: Arial, sans-serif;
  }
  
  h1 {
    color: #e4e4e433;
  }
  
  form {
    margin: 20px auto;
    max-width: 400px;
  }
  
  label {
    display: block;
    margin-top: 10px;
  }
  
  input, textarea {
    width: 100%;
    padding: 5px;
    margin-top: 5px;
  }
  
  button {
    padding: 10px 20px;
    font-size: 16px;
  }
  